html,body {
    height: 100%; /* Asegura que el body y html ocupen todo el alto de la ventana */
    margin: 0; /* Elimina cualquier margen predeterminado */
    padding: 0; /* Elimina cualquier padding predeterminado */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
    padding: 20px; /* Añade padding para dar espacio en los laterales */
    display: flex;   
}

/* Estilo de las cards */
.card {
    width: 200px; /* Fija el ancho de las cards */
    margin: 5px; /* Espacio entre las cards */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para efecto de elevación */
    border-radius: 8px; /* Bordes redondeados */
    background-color: rgb(218, 55, 55); /* Fondo blanco de las cards */
    flex: 1 1 auto; /* Permite que las cards se redimensionen de forma responsive */
}

/* Estilo de las imágenes de las cards */
.card-img-top {
    height: 200px; /* Ajusta la altura según tus necesidades */
    object-fit: cover; /* Ajusta la imagen para cubrir el contenedor sin distorsión */
    width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
    border-top-left-radius: 8px; /* Bordes redondeados en la parte superior de la imagen */
    border-top-right-radius: 8px; /* Bordes redondeados en la parte superior de la imagen */
}


/* Estilo del footer */
.footer {
    height: 60px; /* Ajusta la altura del footer según tus necesidades */
    display: flex;
    align-items: center;
}
.nombre{
    text-align: center;
    color: rgb(76, 0, 255);
    background-color:rgb(241, 236, 236) ;
}