

.backgroud-container {
   height: 850px;
   width: 100%; 
   background-image: url('../css/img/fondo.jpg');
   background-size: cover;
   background-position: center; 
   background-repeat: no-repeat; 
   color: rgb(148, 25, 25); 
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;

}
body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: left;

}

form {
    padding: 90px 55px;
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); */
    border-radius: 20px;
    text-align: center;
    width: 370px;

}

.input-group{
    display: flex;
    flex-direction: column;
    text-align: left;
}
 h2{
    color: brown;
    font-size: 35px;
 }

 label{
    color: darkolivegreen;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
    
 }

 input, textarea{
    padding: 17px 25px;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: burlywood;

 }
 form{
    background-color:  #22d4ae;
    color: black;
    outline: none;
 }

 .form-txt{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
 }
 .form-txt a{
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
 }
 .btn{
    font-size: 16px;
    color: darkolivegreen;
    border: 0;
    border-radius: 10;
    cursor: pointer;
 }
 .btn:hover{
    background-color:rgb(240, 206, 161) ;
 }