.container {    
    margin-top: 5%; 
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 100%;
}

.table-responsive {
    width: 100%; 
    max-width: 100%; 
    overflow-x: auto;
}

.table {
    width: 100%;
    table-layout: auto; 
    border-collapse: collapse;
}

.table th, 
.table td {
    padding: 10px 15px;
    text-align: center;
    min-width: 100px;
}

.table img {
    max-width: 100%;
    height: auto;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-image: url("/css/img/fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    overflow-x: hidden;
    color: rgb(148, 25, 25);
}
